*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  background: #fff;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
h1{
  color: #ff6699;
  font-size: 26px;
  text-align: center;
}
.line{
  flex: 1;
  height: 2px;
  background: #aaa;
  align-items: center;
}

/* Box Style */

.box{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.box:hover, .box--selected{
  border-color: #ff6699;
  border-width: 4px;
  box-shadow: 0 0 12px rgba(255,102,153,0.5);
}
.box_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_label{
  display: flex;
  align-items: center;
  gap:10px;
}
.box_price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box_price--old{
  text-decoration: line-through;
  color: #aaa;
  font-size: small;
  align-self: start;
}
.box_price--new{
  font-size: 18px;
  color: #333;
}
.box_discount{
  background: #ff6699;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
.most-popular{
  position: relative;
}
.most-popular::before{
  content: "MOST POPULAR";
  position: absolute;
  top: -10PX;
  right: 10PX;
  background-color: #ff6699;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
}
.options{
  display: none;
  margin-top: 15px;
  justify-content: center;
  gap:15px;
}
.box--selected .options {
  display: flex;
}
.options label{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.options select {
  width: 100px;
  padding: 5px;
}

/* Footer and cart style */
.free-delivery{
  color: #ff6699;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}
.total{
  color:#333;
  font-size: 18px;
  text-align: right;
  margin: 10px 0;
}
.btn{
  display: block;
  width: 100%;
  padding:15px;
  background: #ff6699;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.btn:hover{
  background: #ff3366;
}
.footer{
  font-size: 12px;
  color: #aaa;
  text-align: end;
  margin-top: 20px;
}